@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Karma:400,700|Raleway:900");

:root {
  --color-black: #333;
  --color-link: #fa4484;
  --color-light_gray: #eee;
  --color-white: #ffffff;
}
html,
body {
  background: #fafafa;
}

body,
button {
  font-family: "Karma", serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 10px;
  color: var(--color-black);
}

p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 10px;
  color: var(--color-black);
}

a[href*="//"] {
  cursor: alias;
  position: relative;
  color: var(--color-black);
}
a[href*="//"]:before {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted var(--color-link);

  content: "";
  font-size: 0.5rem;
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
}
